* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: all ease-in-out .4s;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: whitesmoke;
}

.card-container {
  display: flex;
  gap: 3rem;
}

.card {
  display: flex;
  flex-direction: column;
  border-radius: 0.3rem;
  gap: 1.5rem;
  text-align: center;
  background-color: white;
  padding: 2rem;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    cursor: pointer;
}

.card:hover{
    scale: 1.05;
}

.card-description{
    display: flex;
    flex-direction: column;
    gap: .5rem;
}
