*, *::before, *::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Inter, sans-serif;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-height: 100vh;
}

form{
    max-width: 1080px;
    width: 900px;
    background-color: wheat;
    padding: 1rem;
    margin-top: 1rem;
    border-radius: 5px;
}

.form-input-container{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.container{
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    margin: 1rem 0;
}

.container div{
    flex: 1;
}

input{
    border: none;
    outline: none;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    background-color: whitesmoke;
    background-color: rgb(76, 98, 98);
    color: white;
}

button{
    display: block;
    margin: 0 auto;
    padding: .8rem;
    text-transform: uppercase;
    font-weight: 800;
    background-color: white;
    color: rgb(76, 98, 98);
    border: none;
    outline: none;
    cursor: pointer;
}
